/* width */
::-webkit-scrollbar {
  width: 5px; }

/* Track */
::-webkit-scrollbar-track {
  background: #dddddd; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cccccc; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999; }

@font-face {
  font-family: 'SolaimanLipi';
  src: url("../vendors/fonts/SolaimanLipi.ttf");
  /* IE9 Compat Modes */ }

.add-1s {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s; }

.add-2s {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.add-3s {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s; }

.add-4s {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-delay: 2s;
  animation-delay: 2s; }

.add-5s {
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
  -webkit-animation-delay: 2.5s;
  animation-delay: 2.5s; }

@-webkit-keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

@keyframes moveleft {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px);
    transform: translate(-100px); }
  80% {
    -webkit-transform: translate(20px);
    transform: translate(20px); }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0); } }

.bn {
  font-family: "SolaimanLipi" !important; }

.overly {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  height: 100vh !important;
  background: rgba(0, 0, 0, 0.5);
  display: none; }

header .header-top {
  background: #0f1450;
  color: #f8f9fa;
  padding: 5px 0; }
  header .header-top a {
    text-decoration: none;
    color: #f8f9fa; }
    header .header-top a:hover {
      color: #17a2b8; }

header .header-nav {
  background: #004085;
  color: #f8f9fa; }

header .logo {
  padding: 5px 0; }
  header .logo img {
    width: 280px; }

header nav {
  float: right; }
  @media (max-width: 767px) {
    header nav {
      display: none;
      width: 100%; }
      header nav ul li {
        margin: 0;
        padding: 0;
        float: none !important;
        padding: 0 !important; }
        header nav ul li a {
          padding: 15px !important;
          color: #f8f9fa;
          display: block;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 400;
          line-height: 21px;
          border-top: 1px solid rgba(0, 0, 0, 0.15); }
          header nav ul li a:hover {
            text-decoration: none;
            color: #000051; }
        header nav ul li:last-child {
          margin-bottom: 15px; }
          header nav ul li:last-child a.btn {
            padding: 5px !important;
            display: block; } }
  header nav ul {
    margin: 0;
    padding: 0; }
    header nav ul li {
      margin: 0;
      padding: 0;
      list-style: none;
      float: left;
      padding: 32px 14px; }
      header nav ul li a {
        color: #f8f9fa;
        display: block;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        line-height: 21px; }
        header nav ul li a:hover {
          text-decoration: none;
          color: #17a2b8; }
      header nav ul li:last-child {
        padding-right: 0;
        padding-top: 23px;
        padding-bottom: 22px; }
      header nav ul li i.fas {
        display: none; }

header .btn-reg {
  margin-top: -5px;
  text-transform: uppercase; }

.tab-pane {
  padding: 15px;
  border: 1px solid #ddd;
  border-top: 0px; }

.clr {
  clear: both; }

.border-div {
  width: 60px;
  height: 4px;
  background: #004085;
  display: block;
  margin-bottom: 15px; }

.slider {
  position: relative;
  min-height: 438px; }
  .slider .carousel-item img {
    min-height: 438px; }
  @media (max-width: 767px) {
    .slider .carousel-indicators {
      display: none; }
    .slider .carousel-inner {
      display: none; }
    .slider .carousel-control-prev, .slider .carousel-control-next {
      display: none; } }
  .slider .carousel-caption {
    margin-bottom: 5px;
    text-align: right; }
  .slider .carousel-indicators {
    left: unset !important; }

.emp img {
  width: 75px !important;
  height: 80px !important; }

.sub-header {
  background: #195391;
  padding: 30px 0; }
  .sub-header .page-title {
    color: #f8f9fa;
    padding: 0px;
    margin: 0px;
    font-size: 22px; }

.profile-pic {
  width: 100%; }

.top-social-link {
  margin: 0;
  padding: 0; }
  .top-social-link li {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left; }
    .top-social-link li a {
      margin-left: 15px; }

.download-box {
  background: #eee;
  padding: 15px;
  text-align: center; }
  .download-box i.fa {
    font-size: 48px;
    color: #004085; }
  .download-box a {
    font-size: 14px; }
    .download-box a i.fa {
      font-size: 14px !important;
      color: #f8f9fa; }
  .download-box p {
    padding: 5px 0;
    margin: 0; }

.headline {
  font-size: 24px !important; }

main {
  padding: 50px 0; }
  @media (max-width: 767px) {
    main {
      padding: 25px 0; } }
  main .body-sec {
    padding: 50px 0; }
    @media (max-width: 767px) {
      main .body-sec {
        padding: 25px 0; } }
    main .body-sec .headline {
      color: #0f1450; }
    main .body-sec .thumbnail {
      background: #eeeeee;
      padding: 10px; }
      main .body-sec .thumbnail img {
        width: 100%; }
      main .body-sec .thumbnail h3 {
        font-size: 22px;
        color: #0f1450;
        padding: 5px 0;
        margin: 0; }
      main .body-sec .thumbnail p {
        font-size: 14px;
        margin: 0;
        padding: 0; }
  main .box {
    background: #eeeeee;
    padding: 10px;
    border-bottom: 5px solid #004085; }
    main .box img {
      width: 100px;
      height: 115px;
      border: 1px solid #eee;
      margin-right: 10px;
      background: #fff;
      float: left; }
    main .box h4 {
      font-size: 18px;
      margin: 0;
      font-weight: bold;
      color: #0f1450; }
    main .box p {
      font-size: 14px;
      padding: 0;
      margin: 0; }

ul#news-list {
  margin: 0px;
  padding: 0; }
  ul#news-list li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    float: left;
    width: 250px;
    margin: 9px; }

.gallery-sec img {
  width: 100%;
  margin-bottom: 15px; }

.news-slider .news-img {
  display: block;
  height: 150px;
  padding-top: 30px;
  color: #ffffff; }
  .news-slider .news-img:hover {
    color: #f8f9fa;
    text-decoration: none; }
  .news-slider .news-img img {
    width: 75px !important;
    float: left;
    margin: 10px; }
  .news-slider .news-img h4 {
    padding: 30px 0; }

footer .footer-top {
  background: #343a40;
  padding: 75px 0;
  color: #f8f9fa; }
  footer .footer-top img {
    width: 120px;
    margin-bottom: 10px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-right: 15px; }
  footer .footer-top p {
    padding: 0;
    margin: 0;
    font-size: 14px; }
  footer .footer-top h2 {
    font-size: 25px; }
  footer .footer-top a {
    color: #f8f9fa; }
  footer .footer-top ul {
    margin: 0;
    padding: 0; }
    footer .footer-top ul li {
      padding: 0;
      margin: 0;
      list-style: none; }
      footer .footer-top ul li a {
        color: #cccccc;
        padding: 0 5px;
        font-size: 14px; }
        footer .footer-top ul li a:hover {
          text-decoration: none;
          color: #eeeeee; }

footer .footer-bottom {
  background: #222;
  color: #f8f9fa;
  padding: 10px 0;
  font-size: 13px; }

.msg-sec {
  position: absolute;
  z-index: 1;
  background: rgba(0, 64, 133, 0.65);
  padding: 15px;
  top: -1px;
  bottom: 0px;
  left: 0px;
  width: 58%;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%); }
  @media (max-width: 767px) {
    .msg-sec {
      width: 100%;
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%); } }

.res-nav-switcher {
  position: absolute;
  z-index: 9;
  display: none;
  cursor: pointer; }
  @media (max-width: 767px) {
    .res-nav-switcher {
      display: block;
      right: 18px;
      top: 22px;
      padding: 12px;
      background: #0f1450;
      line-height: 10px; } }

.comments-sec {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  margin-top: 30px;
  color: #fff; }
  @media (max-width: 767px) {
    .comments-sec .box h4 {
      font-size: 16px;
      margin: 0px; }
    .comments-sec .box p {
      font-size: 12px; } }
  .comments-sec .box {
    margin-bottom: 15px;
    min-height: 120px; }
    .comments-sec .box img {
      width: 100px;
      height: 110px;
      float: left;
      margin-right: 15px;
      -webkit-border-radius: 5px;
      border-radius: 5px; }
    .comments-sec .box p {
      margin: 0;
      padding: 0; }
    .comments-sec .box a {
      display: block;
      text-decoration: none;
      color: #eeeeee; }
      .comments-sec .box a:hover {
        text-decoration: none;
        color: #17a2b8; }

.about-sec {
  padding: 50px 0;
  background-color: rgba(0, 64, 132, 0.75);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  margin-bottom: 50px;
  color: #fff;
  position: relative; }
  .about-sec .view-table {
    margin-right: 50px;
    position: relative;
    z-index: 3; }
    @media (max-width: 767px) {
      .about-sec .view-table {
        margin-right: 0px !important; } }
  .about-sec .about-txt {
    position: relative;
    z-index: 3;
    text-align: justify;
    margin-left: 50px; }
    @media (max-width: 767px) {
      .about-sec .about-txt {
        margin-left: 0px; } }
  .about-sec .bg-sec {
    position: absolute;
    z-index: 1;
    background: rgba(0, 64, 133, 0.75);
    padding: 15px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 50%; }
    @media (max-width: 767px) {
      .about-sec .bg-sec {
        width: 100%; } }

.best-emp-sec {
  padding: 50px 0; }

.inovetors {
  padding: 50px 0; }
  .inovetors img {
    width: 120px;
    margin: 15px;
    -webkit-border-radius: 4px;
    border-radius: 4px; }
  .inovetors h2 {
    margin: 0px;
    padding: 0px;
    font-size: 20px; }
  .inovetors p {
    margin: 0px;
    padding: 3px 0;
    font-size: 14px; }

.brand-sec {
  padding: 25px 0;
  background: #eeeeee; }
  .brand-sec ul {
    text-align: center; }
    .brand-sec ul li a {
      text-decoration: none; }
      .brand-sec ul li a img {
        width: 100px;
        height: 100%;
        margin: 0 auto; }
      .brand-sec ul li a h4 {
        font-size: 16px; }

.news-list .news-slider {
  margin: 0px;
  padding: 0px; }
  .news-list .news-slider li {
    list-style: none;
    margin: 0px;
    margin-bottom: 15px; }
    .news-list .news-slider li .thumbnail {
      height: 115px; }
      @media (max-width: 767px) {
        .news-list .news-slider li .thumbnail {
          height: auto; } }
  .news-list .news-slider a.news-img {
    float: left;
    height: 95px;
    width: 200px;
    padding-top: 5px;
    margin-right: 15px; }
    @media (max-width: 767px) {
      .news-list .news-slider a.news-img {
        width: 100%; } }
    .news-list .news-slider a.news-img h4 {
      font-size: 20px; }
    .news-list .news-slider a.news-img img {
      margin: 5px !important; }
  .news-list .news-slider .caption h3 {
    font-size: 18px; }

.upajila-sec .news-slider {
  margin: 0px;
  padding: 0px; }
  .upajila-sec .news-slider li {
    list-style: none;
    width: 250px;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px; }

.shomitee-img {
  width: 120px; }

.nav-tabs .nav-link {
  background: #004085;
  color: #eeeeee;
  -webkit-border-radius: 0px !important;
  border-radius: 0px !important;
  border: 0px !important; }
  .nav-tabs .nav-link:hover {
    background: #0f1450; }

.nav-tabs .nav-link.active {
  background: #0f1450 !important;
  color: #eeeeee !important; }

.tab-content {
  border: 1px solid #0f1450 !important; }
