// color
	$primary:#004085;
	$secondary: #0f1450;
	$dark-x: #000051;
	$light: #ffffff;
	$light-x: #eeeeee;
	$dark: #222;
	$light-gray:#cccccc; 
	$gray-x:#999; 
	$red: #EE1E2E;
	$yollow: #FFD942;

    $blue: #007bff;
    $indigo: #6610f2;
    $purple: #6f42c1;
    $pink: #e83e8c;
    $red: #dc3545;
    $orange: #fd7e14;
    $yellow: #ffc107;
    $green: #28a745;
    $teal: #20c997;
    $cyan: #17a2b8;
    $white: #fff;
    $gray: #6c757d;
    $gray-dark: #343a40;
    $success: #28a745;
    $info: #17a2b8;
    $warning: #ffc107;
    $danger: #dc3545;
    $light: #f8f9fa;
	
// Responsive Brackpoint 
	$phones: "(max-width: 575px)";
	$min_phones: "(min-width: 576px)";
	$max_phones: "(max-width: 767px)";
	$min_tablets: "(min-width: 768px)";
	$max_tablets: "(max-width: 991px)";
	$min_desktops: "(min-width: 992px)";
	$max_desktops: "(max-width: 1199px)";
	$large_device: "(min-width: 1200px)";

	/* width */
	::-webkit-scrollbar {
		width: 5px;
	}

	/* Track */
	::-webkit-scrollbar-track {
		background: #dddddd;
	}
	
	/* Handle */
	::-webkit-scrollbar-thumb {
		background: #cccccc; 
	}

	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
		background: #999999; 
	}

	
	// @media #{$phones}{
	// 	.d-none{
	// 		display: none;
	// 		display: grid;
	// 		place-items: center;
	// 	}
	// }
	@font-face {
		font-family: 'SolaimanLipi';
		src: url('../vendors/fonts/SolaimanLipi.ttf'); /* IE9 Compat Modes */
	}
	
// animate.css mixin
	@mixin add($duration, $delay) {
		animation-duration: $duration;
		animation-delay: $delay;
	}

	@for $i from 1 through 5 {
		.add-#{$i}s { @include add($i/2 + 0s, $i/2 + 0s); }
	}
	// animation

	@keyframes moveleft{
		0% {
			opacity: 0;
			transform: translate(-100px);
		}
		80% {
			transform: translate(20px);
		}
		100% {
			opacity: 1;
			transform: translate(0);
		}
	}

// custome style
.bn{
    font-family: "SolaimanLipi" !important;
}
// overly
.overly {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    height: 100vh!important;
	background: rgba(0,0,0,.5);
	display: none;
	// @media #{$max_phones}{
	// 	display: block;
	// }
}
// Header 

header{
	.header-top{
		background: $secondary;
		color: $light;
		padding: 5px 0;
		a{
			text-decoration: none;
			color: $light;
			&:hover{
				color: $info;
			}
		}
	}
	.header-nav{
		background: $primary;
		color: $light;
	}
	.logo{
		padding: 5px 0;
		img{
			width: 280px;
		}
	}

	nav{
		float: right;
		@media #{$max_phones}{
			display: none;
			width: 100%;
			ul{
				li{
					margin: 0;
					padding: 0;
					float: none !important;
					padding: 0 !important;
					a{
						padding: 15px !important;
						color: $light;
						display: block;
						text-transform: uppercase;
						font-size: 16px;
						font-weight: 400;
						line-height: 21px;
						border-top: 1px solid rgba(0, 0, 0, 0.15);
						&:hover{
							text-decoration: none;
							color: $dark-x;
						}
					}
					&:last-child{
						margin-bottom: 15px;
						a.btn{
							padding: 5px !important;
							display: block;
						}
					}
				}
			}
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				margin: 0;
				padding: 0;
				list-style: none;
				float: left;
				padding: 32px 14px;
				a{
					color: $light;
					display: block;
					text-transform: uppercase;
					font-size: 16px;
					font-weight: 400;
					line-height: 21px;

					&:hover{
						text-decoration: none;
						color: $info;
					}
				}
				&:last-child{
					padding-right: 0;
					padding-top: 23px;
					padding-bottom: 22px;
				}
				i.fas{
					display: none;
				}
			}
		}
	}
	.btn-reg{
		margin-top: -5px;
		text-transform: uppercase;
	}
}
.tab-pane {
    padding: 15px;
    border: 1px solid #ddd;
    border-top: 0px;
}
.clr{
	clear: both;
}
.border-div{
	width: 60px;
	height: 4px;
	background: $primary;
	display: block;
	margin-bottom: 15px;
}
.slider{
	position: relative;
	min-height: 438px;
	.carousel-item{
		img{
			min-height: 438px;
		}
	}
	@media #{$max_phones}{
		.carousel-indicators{
			display: none;
		}
		.carousel-inner{
			display: none;
		}
		
		.carousel-control-prev, .carousel-control-next{
			display: none;
		}
	}
	.carousel-caption{
		margin-bottom: 5px;
		text-align: right;
	}
	.carousel-indicators{
		left: unset !important;
	}
}
.emp{
	img{
		width: 75px !important;
		height: 80px !important;
	}
}
.sub-header{
	background: #195391;
    padding: 30px 0;
	.page-title{
		color: $light;
		padding: 0px;
		margin: 0px;
		font-size: 22px;
	}
}
.profile-pic{
	width: 100%;
}
.top-social-link{
	margin: 0;
	padding: 0;
	li{
		padding: 0;
		margin: 0;
		list-style: none;
		float: left;
		a{
			margin-left: 15px;
		}
	}
}
.download-box {
    background: #eee;
    padding: 15px;
	text-align: center;
	i.fa{
		font-size: 48px;
		color: $primary;
	}
	a{
		font-size: 14px;
		i.fa{
			font-size: 14px !important;
			color: $light;
		}
	}
	p{
		padding: 5px 0;
		margin: 0;
	}
}
.headline{
	font-size: 24px !important;
}
main{
	padding: 50px 0;
	@media #{$max_phones}{
		padding: 25px 0;
	}
	.body-sec{
		
	@media #{$max_phones}{
		padding: 25px 0;
	}
		padding: 50px 0;
		.headline{
			color: $secondary;
		}
		.thumbnail{
			background: $light-x;
    		padding: 10px;
			img{
				width: 100%;
			}
			h3{
				font-size: 22px;
				color: $secondary;
				padding: 5px 0;
				margin: 0;
			}
			p{
				font-size: 14px;
				margin: 0;
				padding: 0;
			}
		}
	}
	.box{
		background: $light-x;
		padding: 10px;
		border-bottom: 5px solid $primary;
		img{
			width: 100px;
			height: 115px;
			border: 1px solid #eee;
			margin-right: 10px;
			background: #fff;
			float: left;
		}
		h4{
			font-size: 18px;
			margin: 0;
			font-weight: bold;
			color: $secondary;
		}
		p{
			font-size: 14px;
			padding: 0;
			margin: 0;
		}
	}
}
ul#news-list {
    margin: 0px;
	padding: 0;
	li {
		list-style: none;
		margin: 0px;
		padding: 0px;
		float: left;
		width: 250px;
		margin: 9px;
	}
}
.gallery-sec{
	img{
		width: 100%;
		margin-bottom: 15px;
	}
}

.news-slider{
	.news-img{
		display: block;
		height: 150px;
		padding-top: 30px;
		color: #ffffff;
		&:hover{
			color: $light;
			text-decoration: none;
		}
		img{
			width: 75px !important;
			float: left;
			margin: 10px;
		}
		h4{
			padding: 30px 0;
		}
	}
}
footer{
	.footer-top{
		background: $gray-dark;
		padding: 75px 0;
		color: $light;
		img{
			width: 120px;
			margin-bottom: 10px;
			border-radius: 4px;
			margin-right: 15px;
		}
		p{
			padding: 0;
			margin: 0;
			font-size: 14px;
		}
		h2{
			font-size: 25px;
		}
		a{
			color: $light;
		}
		ul{
			margin: 0;
			padding: 0;
			li{
				padding: 0;
				margin: 0;
				list-style: none;
				a{
					color: $light-gray;
					padding: 0 5px;
					font-size: 14px;
					&:hover{
						text-decoration: none;
						color: $light-x;
					}
				}
			}
		}
	}
	.footer-bottom{
		background: $dark;
		color: $light;
		padding: 10px 0;
		font-size: 13px;
	}
}

.msg-sec {
    position: absolute;
    z-index: 1;
	background: rgba(0, 64, 133, 0.65);
    padding: 15px;
    top: -1px;
	bottom: 0px;
	left: 0px;
	width: 58%;
	clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
	@media #{$max_phones}{
		width: 100%;
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
	}
}
.res-nav-switcher{
	position: absolute;
	z-index: 9;
	display: none;
	cursor: pointer;
	@media #{$max_phones}{
		display: block;
		right: 18px;
		top: 22px;
		padding: 12px;
		background: $secondary;
		line-height: 10px;
	}
}
.comments-sec{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 2;
	margin-top: 30px;
	color: #fff;
	@media #{$max_phones}{
		.box{
			h4{
				font-size: 16px;
				margin: 0px;
			}
			p{
				font-size: 12px;
			}
		}
	}
	.box{
		margin-bottom: 15px;
		min-height: 120px;
		img{
			width: 100px;
			height: 110px;
			float: left;
			margin-right: 15px;
			border-radius: 5px;
		}
		p{
			margin: 0;
			padding: 0;
		}
		a{
			display: block;
			text-decoration: none;
			color: $light-x;
			&:hover{
				text-decoration: none;
				color: $info;
			}
		}
	}
}
.about-sec {
	padding: 50px 0;
	// background-image: url("../images/b1.jpg");
	background-color: rgba(0, 64, 132, 0.75);
	background-repeat: no-repeat;
	background-size: cover;
    margin-bottom: 50px;
	color: #fff;
	position: relative;
	.view-table{
		margin-right: 50px;
		position: relative;
		z-index: 3;
		@media #{$max_phones}{
			margin-right: 0px !important;
		}
	}
	.about-txt{
		position: relative;
		z-index: 3;
		text-align: justify;
		margin-left: 50px;
		@media #{$max_phones}{
			margin-left: 0px;
		}
	}
	.bg-sec {
		position: absolute;
		z-index: 1;
		background: rgba(0, 64, 133, 0.75);
		padding: 15px;
		top: 0px;
		bottom: 0px;
		right: 0px;
		width: 50%;
		@media #{$max_phones}{
			width: 100%;
		}
	}
}
.best-emp-sec{
	padding: 50px 0;
}
.inovetors{
	padding: 50px 0;
	img{
		width: 120px;
		margin: 15px;
		border-radius: 4px;
	}
	h2{
		margin: 0px;
		padding: 0px;
		font-size: 20px;
	}
	p{
		margin: 0px;
		padding: 3px 0;
		font-size: 14px;
	}
}
.brand-sec{
	padding: 25px 0;
	background: $light-x;
	ul{
		text-align: center;
		li{
			a{
				img{
					width: 100px;
					height: 100%;
					margin: 0 auto;
				}
				text-decoration: none;
				h4{
					font-size: 16px;
				}
			}
		}
	}
}
.news-list{
	.news-slider{
		margin: 0px;
		padding: 0px;
		li{
			list-style: none;
			margin: 0px;
			margin-bottom: 15px;
			.thumbnail{
				height: 115px;
				@media #{$max_phones}{
					height: auto;
				}
			}
		}
		a.news-img{
			float: left;
			height: 95px;
			width: 200px;
			padding-top: 5px;
			margin-right: 15px;
			@media #{$max_phones}{
				width: 100%;
			}
			h4{
				font-size: 20px;
			}
			img{
				margin: 5px !important;
			}
		}
		.caption{
			h3{
				font-size: 18px;
			}
		}
	}
}
.upajila-sec{
	.news-slider{
		margin: 0px;
		padding: 0px;
		li{
			list-style: none;
			width: 250px;
			float: left;
			margin-right: 15px;
			margin-bottom: 15px;
		}
	}
}
.shomitee-img{
	width: 120px;
}
.nav-tabs{
	.nav-link{
		background: $primary;
		color: $light-x;
		border-radius: 0px !important;
		border: 0px !important;
		&:hover{
			background: $secondary;
		}
	}
	.nav-link.active{
		background: $secondary !important;
		color: $light-x !important;
	}
}
.tab-content{
	border: 1px solid $secondary !important;
}